link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet"

.page-header
  .pull-right
  h1 Отчеты

.panel
  .panel-body
    = simple_form_for :filter, as: :filter, url: reports_path, method: :get do |f|
      .row
        .col-md-6
          = f.input :date, as: :string, input_html: { class: 'datepicker', value: params.dig(:filter, :date) || Date.today.strftime('%Y-%m-%d') }, label: false, placeholder: 'Укажите дату, на которую запрашивается информация'
        .col-md-6
          => f.button :submit, 'Применить фильтр', class: 'btn btn-primary'
          = link_to 'Сбросить фильтр', reports_path, class: 'btn btn-default'

- if @departments.present?
  .row
    .col-md-6
      div#tree data-nodes=@treeview.to_json
    .col-md-6
      div#employeesTable

javascript:
  $employeesTable = $('#employeesTable');

  url_string = window.location.href;
  url = new URL(url_string);
  date = url.searchParams.get("filter[date]");

  $tree = $('#tree');
  $tree.treeview({
    data: $tree.data('nodes'),
    levels: 1,
    showTags: true,
    onNodeSelected: function (event, node) {
      $.ajax({
        url: '/reports/employees',
        data: {
          department_id: node.data.department_id,
          date: date,
        },
        success: function (data) {
          $employeesTable.html(data);
        }
      })
    }
  });
